extends info

block details
    form(id='editProfile', action='/usr/' + customer.Username + '/edit', method='POST')
        label(for='fullname') Tên đầy đủ
        input(type='text', id='fullname', name='fullName', value=customer.FullName required=true)
        br
        label(for='address') Địa chỉ 
        input(type='text', id='address', name='streetAddress', value=customer.StreetAddress required=true)
        br
        label(for='postcode') Mã bưu điện
        input(type='text', id='postcode', name='postcode', value=customer.PostCode required=true)
        br
        label(for='city') Thành phố
        input(type='text', id='city', name='city', value=customer.City required=true)
        br
        label(for='country') Quốc gia
        input(type='text', id='country', name='country', value=customer.Country required=true)
        br
        label(for='email') Email
        input(type='email', id='email', name='email', value=customer.Email required=true)
        br
        label(for='phone') SĐT
        input(type='tel', id='phone', name='phone', value=customer.Phone required=true)
        br
        label(for='password') Mật khẩu
        input(type='password', id='password', name='password', placeholder='Password to confirm changes' required=true)
        br
        button.btn.btn-default(type='submit') Cập nhật