extends layout

block content
    section#form
        //form
        .container
            .row
                .col-sm-3
                    // nav-bar
                    .left-sidebar
                        #accordian.panel-group.category-products
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a(href='/sign-in') Đăng nhập
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a(href='/sign-up') Đăng kí
                    ///nav-bar
                .col-sm-5.text-center
                    //sign up form
                    .signup-form
                        h2 Tạo tài khoản mới
                        if checkOutNoti
                            if (signUpError != '')
                                p=signUpError
                            else
                                p=checkOutNoti
                        else
                            if (signUpError != '')
                                p=signUpError

                        form(id='sign-up', action='/sign-up', method='POST')
                            input(type='text', name='fullName' placeholder='Tên đầy đủ' required=true)
                            input(type='email', name='email', placeholder='Địa chỉ email' required=true)
                            input(type='text', name='streetAddress', placeholder='Địa chỉ' required=true)
                            input(type='text', name='postcode', placeholder='Mã bưu điện' required=true)
                            input(type='text', name='city', placeholder='Thành phố' required=true)
                            input(type='text', name='country', placeholder='Quốc gia' required=true)
                            input(type='tel', name='phone', placeholder='SĐT' required=true)
                            input(type='text', name='username', placeholder='Username' required=true)
                            input(type='password', name='password', placeholder='Mật khẩu' required=true)
                            input(type='password', name='rePassword', placeholder='Nhập lại mật khẩu' required=true)
                            button.btn.btn-default(type='submit') Đăng kí
                    ///sign up form
    ///form