extends ../layout

block content
    section#cart_items
        .container
            .step-one
                h2.heading Địa chỉ vận chuyển
            .checkout-options
                h3
                    i Bạn có muốn vận chuyển đến địa chỉ này
                        | Nếu có click vào nút phía dưới
                        br
                        | Hoặc vận chuyển tới địa chỉ mới
            .row
                if addresses
                    each address in addresses
                        .cus-name.col-sm-4
                            h4= address.FullName
                            p
                                span= address.StreetAddress
                                br
                                span= address.PostCode + ' ' + address.City
                                br
                                span= address.Country
                            p= 'Tel: ' + address.Phone

                            form(action='/checkout/delivery/' + address.AddressID, method='POST')
                                input.dev-btn.btn.btn-default.add-to-cart(type='submit', value='Giao đến địa chỉ này')
            .step-one#new-address
                h2.heading Thêm địa chỉ mới

            .checkout-options
                h3
                    i Nhập vào địa chỉ mới

            .shopper-informations
                .row
                    .bill-to
                        form(action='/checkout/delivery/new', method='POST')
                            .col-sm-1.clearfix
                            .col-sm-5.clearfix
                                label(for='fullName') Tên đầy đủ
                                input(type='text', id='fullName', name='fullName')
                                br
                                label(for='streetAddress') Địa chỉ
                                input(type='text', name='streetAddress', id='streetAddress')
                                br
                                label(for='postcode') Mã bưu điện
                                input(type='text', name='postcode', id='postcode')
                                br
                                label(for='city') Thành phố
                                input(type='text', name='city', id='city')
                                br
                                label(for='country') Quốc gia
                                input(type='text', name='country', id='country')
                                br
                                label(for='phone') SĐT
                                input(type='tel', name='phone', id='phone')
                                br
                                br
                                input.dev-btn.btn.btn-default.add-to-cart(type='submit', value='Giao đến địa chỉ này')